body{
    background-color: black;
}
.headMain{
    /* border: 1px solid white; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headMain1{
    /* border: 1px solid white; */
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: -5px;
}
ul{
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    transition: 0.5s;
    color: #25AB75;
}
.font {
    font-family: "Poppins", serif;
    font-weight: 10px;
    font-size: 16px;
}
.btn{
    width: 110px;
    height: 40px;
    text-align: center;
    font-size: 13px;
    color: white;
    border: 1px solid #25AB75;
    border-radius: 30px;
    background-color: #25AB75;
}
.btn:hover{
    background-color: white;
    color: #25AB75;
    border: 1px solid white;
}
@media screen and (max-width:720px) {
    .btn{
        margin-left: -100px;
    }
}
.mainBack{
    /* border: 1px solid white; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBack1{
    /* border: 1px solid white; */
    background-color: rgb(26, 25, 25);
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width:720px) {
    .mainBack1{
        flex-wrap: wrap-reverse;
        margin-top: 1200px;
        background-color: rgb(26, 25, 25);
    }
    .chld2{
        background-color: rgb(26, 25, 25);
        height: 100px;
        width: 600px;
    }
    .chld1{
        margin-top: -00px;
    }
}
.chld1{
    /* border: 1px solid #25AB75; */
    margin-top: 50px;
    width: 600px;
    height: 550px;
}
.chld2{
    /* border: 1px solid #25AB75; */
    margin-top: 50px;
    width: 600px;
    height: 550px;
}
.img{
    height: 550px;
    width: 60%;
}
.para1{
    color: #FFE642;
    font-size: 14px;
    text-align: left;
    font-weight: -10px;
    margin-top: 50px;
    margin-left: 20px;
    letter-spacing: 5px;
}
.heading{
    color: white;
    font-size: 120px;
    margin-top: -25px;
    margin-left: 20px;
}
.heading1{
    color: white;
    font-size: 120px;
    margin-top: -160px;
    margin-left: 20px;
}
.para2{
    color: rgb(189, 187, 187);
    font-size: 12px;
    text-align: left;
    font-weight: -10px;
    margin-top: -70px;
    margin-left: 20px;
}
.btn1{
    width: 110px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: white;
    border: 1px solid #25AB75;
    border-radius: 5px;
    background-color: #25AB75;
    margin-left: 20px;
}
.btn1:hover{
    background-color: white;
    color: #25AB75;
    border: 1px solid white;
}
.btn2{
    width: 110px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 13px;
    color: black;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 5px;
    background-color: rgb(163, 162, 162);
    margin-left: 20px;
}
.btn2:hover{
    background-color: #25AB75;
    color: white;
    border: 1px solid #25AB75;
}
.heading2{
    color: #FFE642;
    margin-left: 500px;
    margin-top: -450px;
    font-size: 25px;
}
.para3{
    color: white;
    margin-left: 485px;
    margin-top: -30px;
    font-size: 12px;
}
.heading3{
    color: #FFE642;
    margin-left: 490px;
    margin-top: 30px;
    font-size: 25px;
}
.para4{
    color: white;
    margin-left: 485px;
    margin-top: -30px;
    font-size: 12px;
}